/sistemabuscaaltovaleok/nbproject/private/
/sistemabuscaaltovaleok/build/

.idea/
/projeto-busca-alto-vale-senac-banco-dados/build/
/projeto-busca-alto-vale-senac-banco-dados/dist/
/projeto-busca-alto-vale-senac-banco-dados/projeto-busca-alto-vale-senac-banco-dados.iml

/projeto-busca-alto-vale-senac-banco-dados-atual/nbproject/private/
/projeto-busca-alto-vale-senac-banco-dados-atual/build/
/projeto-busca-alto-vale-professor-18-10/build/
/projeto-busca-alto-vale-professor-18-10/nbproject/private/
/projeto-busca-alto-vale-professor-18-10/dist/
